[submodule "plugins/ggTestSuitePlugin"]
	path = plugins/ggTestSuitePlugin
	url = https://github.com/garygolden/ggTestSuitePlugin
[submodule "lib/vendor/TwoCheckout"]
	path = lib/vendor/TwoCheckout
	url = https://github.com/garygolden/TwoCheckout.git
[submodule "lib/vendor/symfony"]
	path = lib/vendor/symfony
	url = git://github.com/garygolden/symfony
[submodule "doc"]
	path = doc
	url = https://garygolden@github.com/garygolden/anonvpn-doc
[submodule "plugins/ioMenuPlugin"]
	path = plugins/ioMenuPlugin
	url = https://garygolden@github.com/garygolden/ioMenuPlugin
[submodule "plugins/sfCountryPlugin"]
	path = plugins/sfCountryPlugin
	url = https://garygolden@github.com/garygolden/sfCountryPlugin.git
